
{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if pages.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?limit={{limit|default:2}}&page={{ pages.previous_page_number }}">Предыдущая</a>
        </li>
      {% endif %}

      {% for page_number in pages.paginator.page_range %}
        {% if page_number == pages.number %}
          <li class="page-item active">
            <a class="page-link" href="?limit={{limit|default:2}}&page={{ page_number }}">{{ page_number }} <span class="sr-only">(current)</span></a>
          </li>
        {% elif page_number > pages.number|add:-2 and page_number < pages.number|add:2 %}
          <li class="page-item"><a class="page-link" href="?limit={{limit|default:2}}&page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
      {% endfor %}

      {% if pages.has_next %}
        <li class="page-item">
          <a class="page-link" href="?limit={{limit|default:2}}&page={{ pages.next_page_number }}">Следующая</a>
        </li>
      {% endif %}
    </ul>
{% endif %}
  {% include "include/_limit.html" %}
  </nav>



