* {
	margin: 0;
	padding: 0;
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	background: #e7e7e7;
	font-family: Arial;
	font-size: 13px;
	color: black;
	line-height: 20px;
}

::selection {
	background-color: black;
	color: white;
}

::-moz-selection {
	background-color: black;
	color: white;
}

a {
	color: #0075d0;
	text-decoration: underline;
}

p {
	margin-bottom: 8px;
}

blockquote {
	margin: -5px 0 8px 30px;
	font-style: italic;
	color: #8b8b8b;
}

blockquote:before {
	content: "— ";
}

h1,h2,h3,h4,h5,h6 {
	color: #838383;
	line-height: normal;
}

h1 {
	font-size: 30px;
}

h1:first-letter,

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

h1+p,h2+p,h3+p {
	margin-top: 5px;
}

a img {
	border: none;
	outline: none;
}

ul,ol,dl {
	margin: 0 0 0 30px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 15px;
}

input,button,textarea {
	display: inline-block;
}

input[type=text],textarea,select {
	padding: 5px;
	height: auto;
	border: 1px solid #b7b7b7;
}

input[type=text],textarea {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

input[type=checkbox],input[type=radio] {
	margin: 3px 5px 0 0;
	float: left;
}

input[type=text] {
	width: 130px;
	margin-right: 20px;
}

select {
	width: 210px;
}

textarea {
	width: 300px;
	height: 100px;
}

label {
	display: block;
	vertical-align: middle;
}

input:focus,button:focus,textarea:focus,select:focus {
	outline: none;
	border: 1px solid black;
	box-shadow: none;
}

input:-moz-placeholder {
  color: #c0c0c0;
}

input::-webkit-input-placeholder {
  color: #c0c0c0;
}

button {
	cursor: pointer;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: #202020;
	border: 1px solid black;
	padding: 8px 20px;
}

.row {
	overflow: hidden;
	margin: 8px 0;
}

.col {
	float: left;
	margin-right: 15px;
	overflow: hidden;
}

table.bordered {
	margin: 8px 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid #d5d5d5;
	width: 100%;
}

table.bordered th, table.bordered td {
	border: 1px solid #d5d5d5;
	padding: 5px;
	vertical-align: top;
}

table.bordered th {
	background-color: #efefef;
	text-align: left;
	font-weight: bold;
}

table.bordered tbody tr:hover {
	background-color: #f2f2f2;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 1;
}
/*Шапка*/
.header {
	height: 60px;
}

.headerContent {
	width: 1400px;
	height: 60px;
	margin: 0 auto;
	background: inherit;
}

.page-home {
    margin-top: 10px;
}

.page-home a{
    text-decoration: none;
    color: white;
}

form.search {
	float: right;
	display: inline-block;
    margin-top: 10px;
}

form.search input[type=text] {
	background-color: #323232;
	border: 1px solid #4c4c4c;
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.21);
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.21);
	moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.21);
	padding: 5px;
	width: 300px;
	height: 40px;
	margin-right: 7px;
	color: #dddddd;
	float: left;
}
form.search button[type=submit] {
    background-color: #000000;
    border: none;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.button1 {font-size: 10px;}

.inner input[type=submit] {
	width: 50px;
	margin-right: 20px;
}

/*Контент*/
.content {
	background-color: white;
	width: 1400px;
	margin: 0 auto;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.content .list-group {
	float: right;
	display: block;
}

.main {
	padding: 10px;
	margin-left: 20px;
}

.main .inner div {
	margin-right: 15px;
	margin-bottom: 35px;
	width: 180px;
	height: 210px;

}
.main .inner{
    display: inline-block;
    flex-wrap: wrap;

}
.main .inner img{
    display: block;
    width: 100%;
    height: 100%;
}
.main h2 {
    margin-top: 10px;
    font-size: 30px;
}

.inner p {
	margin-bottom: 0;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

