{% extends 'index.html' %}

{% block block_image %}
    {% for article in pages.object_list %}
        <h2>{{ article.article }}</h2>
        {% for image in article.image.all %}
            <div class="inner">
                <div>
                    <a href="{% url 'delete_image' image.id %}">Delete</a>
                    <img src="{{ image.picture.url }}">
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {% include "main_editor/pagination.html" %}
{% endblock %}
