{% extends 'index.html' %}


{% block block_image %}

    {{ post.picture }}<br>
    {{ post.picture_name }}<br>
    {{ post.article_id }}<br>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="picture_name" value="{{ post.picture_name }}">
        <input type="submit">
    </form>
{% endblock %}

<!--{% comment %}value="{{ post_image.picture_name }}{% endcomment %}
        <input type="number" name="id" value="{{ post.article_id }}">
        <input type="text" name="forms" value="{{ post.picture_name }}">

<input type="number" name="id" value="{{ image.pk }}"><br>
<input type="text" name="picture_name" value="{{ image.picture_name }}">
-->